*

# 不忽略src/中的以及当前目录/ 中的 .cpp .c .h .cu .hpp .md CMakeLists.txt Makefile 等文件
!src/
!Makefile
!CMakeLists.txt
!*.cpp
!*.c
!*.hpp
!*.h
!*.cu
!*.md
!*.gitignore
!.vscode/
!*.json
!voxel_file.txt
!voxels_number.txt